<div class="row">
  <div class="col-md-12">

    <h2 id="move">Add Store</h2>
    <br>
    <form method="post" action="/stores/add" style="margin-top:60px;">
      <fieldset>
        <legend>Store Information</legend>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="retailer">Store Retailer:</label>
              <input class="form-control" id="retailer" name="retailer" type="text">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="phone">Store Phone:</label>
              <input class="form-control" id="phone" name="phone" type="text">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="address">Store Address:</label>
              <input class="form-control" id="address" name="address" type="text">
            </div>
          </div>
           <div class="col-md-6">
            <div class="form-group">
              <label for="city">Store City:</label>
              <input class="form-control" id="city" name="city" type="text">
            </div>
          </div>
        </div>
      <hr>
      <button type="submit" class="btn btn-primary  pull-right">Add Store</button>


    </form>
  </div>
</div>